doctype html

head
	meta(charset='utf-8')

	title Cornelia Wirz-Brun

	include includes/head

body
	.grid
		include includes/header
		include includes/main
		include includes/portrait

		#pages
			include includes/infrastruktur2
			include includes/eisvogel
			include includes/blauracke
			include includes/infrastruktur1
			include includes/regen
			include includes/nichtwissen
			include includes/frauimboot
			include includes/menschen
			include includes/pierrot
			include includes/albatros
			include includes/wuestenlandschaft
			include includes/untiefen3
			include includes/untiefen2
			include includes/untiefen1
			include includes/rundftreppenhaus
			include includes/rundffenster
			include includes/nordfoehn
			include includes/selbstbildnis
			include includes/farbmusterspielerei
			include includes/foehngeist
			include includes/eisbaeren
			include includes/coronafieber
			include includes/cornelia
			include includes/portrait
			include includes/fracht
			include includes/hoffnung
			include includes/nice2
			include includes/nice
			include includes/all
			include includes/ordnungen
			include includes/maeandertal
			include includes/landschaft
			include includes/grossmutter
			include includes/emilie
			include includes/frau
			include includes/specht1
			include includes/specht2
			include includes/sternenbild4
			include includes/matterhorn
			include includes/toggenburg1
			include includes/toggenburg2
			include includes/toggenburg3
			include includes/blick-auf-zollikon
			include includes/rosenstrauss
			include includes/pfau
			include includes/spiel
			include includes/aquarium
			include includes/engadin
			include includes/prince
			include includes/elemente
			include includes/orchidee
			include includes/rueckblick
			include includes/sommervoegel
			include includes/stern1
			include includes/stern2
			include includes/chrigi
			include includes/tulpen
			include includes/aussen
			include includes/innen
			include includes/eule
			include includes/seerosen
			include includes/sonnenblumen
			include includes/winter
			include includes/engadin
			include includes/paris
			include includes/schwaene
			include includes/verbundenheit
			include includes/baum
			include includes/tessin
			include includes/nashorn
			include includes/warten
			include includes/wagen
			include includes/wachen
			include includes/gedanken
			include includes/engadinerwinter
			//- script.
			//- 	var ul = document.querySelector('ul');
			//- 	for (var i = ul.children.length; i >= 0; i--) {
			//- 	 ul.appendChild(ul.children[Math.random() * i | 0]);
			//- 	}
		include includes/footer

	//- jQuery
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
	//- fonts.com bitch ass tracking
	script(src='js/mtiFontTrackingCode.js')
	//- randomColor.js http://randomcolor.llllll.li/
	script(src='https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.5.2/randomColor.min.js')
	script(type='text/javascript' src='js/underline-randomizer.js')
	//- show/hide-gallery
	script(type='text/javascript' src='js/show-hide.js')