#albatros.page.hide(data-page='albatros')
	.gallery
		img(src='img/2022_flieg-wie-ein-albatros-squashed.jpg' alt="Flieg wie ein Albatros; gleite durch die Lüfte, 80 x 40 cm, 20202")
		.caption
			| «Flieg wie ein Albatros; gleite durch die Lüfte», 80 x 40 cm, 2022