#coronafieber.page.hide(data-page='coronafieber')
	.gallery
		img(src='img/2020_coronafieber-auf-der-erde-squashed.png' alt="Coronafieber auf der Erde, 2020")
		.caption
			| «Coronafieber auf der Erde», 2020