#elemente.page.hide(data-page='elemente' onclick="location.href='index.html';")
	.gallery
		img(src='img/1992_die-vier-elemente-squashed.jpg' alt="Die vier Elemente, 1992")
		.caption
			| «Die vier Elemente», 82 x 82 cm, 1992