#farbmusterspielerei.page.hide(data-page='farbmusterspielerei')
	.gallery
		img(src='img/2021_farbmusterspielerei-squashed.png' alt="Farbmusterspielerei, 2021")
		.caption
			| «Farbmusterspielerei», 2021