#foehngeist.page.hide(data-page='foehngeist')
	.gallery
		img(src='img/2019_foehngeist-am-urnersee-squashed.png' alt="Föhn am Urnersee mit Gischtfahnen, 54 x 66 cm, 2019")
		.caption
			| «Föhn am Urnersee mit Gischtfahnen», 54 x 66 cm, 2019