#fracht.page.hide(data-page='fracht')
	.gallery
		img(src='img/2019_ueber-dem-frachtschiff-squashed.png' alt="Wie schön ein Frachtschiff von oben sein kann, 2019")
		.caption
			| «Wie schön ein Frachtschiff von oben sein kann», 32 x 42 cm, 2019