#frauimboot.page.hide(data-page='frauimboot')
	.gallery
		img(src='img/2021_frau-im-boot-squashed.jpg' alt="Selbstbildnis; Frau im Boot, 80 x 60 cm, 2021")
		.caption
			| «Selbstbildnis; Frau im Boot», 80 x 60 cm, 2021