#gedanken.page.hide(data-page='gedanken')
	.text 
		b Zu bestimmte Gedanken
		br
		br
		| Über die Bilder von Cornelia Wirz-Brun
		br
		br
		br
		i Die Grenzen meiner Sprache bedeuten die Grenzen meiner Welt.
		sup 
			a(href="#1") 1
		br
		br
		i Das Bild ist ein Ding, das die Seele mit [ihren] Kräften schöpft. Mag es ein Stein, ein Pferd, ein Mensch oder was immer sonst sein, das sie kennen lernen will, immer nimmt sie das Bild hervor, das sie von ihnen abgezogen hat, und auf diese Weise kann sie sich mit ihnen vereinigen. Aber immer, wenn ein Mensch auf diese Weise ein Bild empfängt, muß es notwendigerweise von außen durch die Sinne hereinkommen. Darum ist der Seele kein Ding so unbekannt, wie sie sich selbst. Es sagt ein Meister, die Seele könne von sich kein Bild schöpfen oder abziehen. Darum kann sie sich selbst ganz und gar nicht kennen lernen. Denn Bilder kommen alle durch die Sinne herein: daher kann sie kein Bild von sich selbst haben. Daher kennt sie alle andern Dinge, nur sich selber nicht. Von keinem Ding weiß sie so wenig, wie von sich selbst, um des Mittels willen.
		sup 
			a(href="#2") 2
		br
		br
		br
		| Soweit ich zurückdenken kann, näht meine Mutter Bilder zusammen. Als kleiner Bub konnte ich es noch einordnen: «Hobby» nannten die Leute eine solche Tätigkeit. Und Freunde von ihr sagten vielleicht auch manchmal «Das ist aber mehr als nur ein Hobby». Oder: «Du bist eine Künstlerin!». Aber meine Mutter sprach immer nur von «ihren Bildern» (für die sie sich die Zeit stehlen müsse). Auch heute sagt sie noch, sie «habe genug Bilder» (die sie noch nicht genäht hat).
		br
		br
		| Wann genau ich es nicht mehr einordnen konnte (es also nicht mehr als «normal» empfand), das weiss ich nicht mehr, aber es muss zeitgleich mit meiner Erkenntnis gekommen sein, dass meine Mutter ihr Kunsthandwerk selber nicht einordnen kann. Dass sie es nicht kann und trotz aller Selbstzweifel bis heute immer wieder aufs Neue Bilder entwirft, hat mir imponiert und mich mit einigen Fragen zurückgelassen.
		br
		br
		| Man muss die Fragen liebhaben, habe ich gelesen
		sup
			a(href="#3") 3
		|. Dann wächst man eines Tages in die Antworten hinein. Nun, ich habe viele Fragen «liebgehabt» über die Jahre und so bin ich, ohne mein bewusstes Zutun, in einige Antworten hineingewachsen, die Bilder meiner Mutter betreffend. Diese möchte ich hier aufschreiben. 
		br
		br
		|	Felix Mendelssohn schreibt 1842 etwas bemerkenswertes in einen Brief 
		sup 
			a(href="#4") 4
		|: «Es wird so viel über Musik gesprochen, und so wenig gesagt – ich glaube, die Worte überhaupt reichen nicht hin dazu, und fände ich, daß sie hinreichten, so würde ich am Ende keine Musik mehr machen. – Die Leute beklagen sich gewöhnlich, die Musik sei vieldeutig, es sei so zweifelhaft, was sie sich dabei zu denken hätten, und die Worte verstände doch ein jeder. Mir geht es aber gerade umgekehrt. Und nicht bloss mit ganzen Reden, auch mit einzelnen Worten, auch die scheinen mir so vieldeutig, so unbestimmt, so mißverständlich im Vergleich zu einer rechten Musik, die einem die Seele erfüllt mit tausend bessern Dingen als mit Worten. (…) Das, was mir eine Musik ausspricht, die ich liebe, sind mir nicht zu unbestimmte Gedanken, um sie in Worte zu fassen, sondern zu bestimmte. (…) Fragen Sie mich was ich mir dabei gedacht habe, so sage ich: gerade das Lied, wie es da steht. Und habe ich bei dem einen oder dem andern ein bestimmtes Wort oder bestimmte Worte im Sinne gehabt, so kann ich die doch keinem Menschen aussprechen, weil dem einen das Wort nicht heißt, was es dem andern heißt, weil nur das Lied dem einen dasselbe sagen, dasselbe Gefühl in ihm erwecken kann, wie im andern, – ein Gefühl, das sich aber nicht durch dieselben Worte ausspricht.» 
		br
		br
		|«Zu bestimmte Gedanken» haben die Empfindsamen unter uns leider dauernd, und die Erlösung von diesem Zustand (das Aussprechen der Gedanken), gelingt nur dem, der eine spezifische Sprache dafür (entwickelt) hat. In unserer von Sprachen und Sprachmedien durchdrungenen Menschenwelt, die ich Sprachenwelt nennen möchte (weil es eine ist), wird viel geredet, aber nur wenig über die Sprachen selbst und über den Umstand, dass Sprachen immer zwischen den Menschen sind, Sprachen jeder Art, und über den nicht minder wichtigen Umstand, dass es keine zwei Menschen gibt, die die gleiche Sprache sprechen. Dafür gibt es unendlich viele Beweise: ich könnte einen Religionskrieg herbeiziehen, es reichte aber auch schon ein griesgrämiges altes Ehepaar oder die kleinen Kinder natürlich… «so vieldeutig, so unbestimmt, so missverständlich im Vergleich zu einer rechten Musik», befindet Mendelssohn, sind Worte und «ganze Reden». 
		br
		br
		| Wenn ich über 
		i Sprache 
		| schreibe, kann ich das Deutsche, Englische oder Yukatekische meinen, aber auch alle Arten von Kunst, Malerei, Musik, Tanz, Film, alle Arten von Wissenschaft, Mathematik, Physik, Chemie, alles Digitale, Programmiersprachen, Codes, Datenverarbeitung, alles Zwischenmenschliche, Physiognomie, Kleidung, Körpersprache… jeder Versuch alle Sprachformen aufzuzählen und zu kategorisieren muss scheitern, da es einfach zu viele sind. Die Sprache, die Mendelssohn in seinem Brief meint, ist aber 
		i das Deutsche 
		| bzw. die Sprachen, die wir Menschen miteinander sprechen, jede Sprachgruppe für sich und je nach Können auch untereinander. 
		br
		br
		| Über diese Sprache schreibt Fritz Mauthner schon 1901
		sup
			a(href="#5") 5
		| : «Die Sprache ist Gemeineigentum. Alles gehört allen, alle baden darin, alle saufen es, und alle geben es von sich.» und weiter «(…), weil die Sprache nichts ist, woran Eigentum behauptet werden kann; der gemeinsame Besitz ist ohne Störung möglich, weil die Sprache nichts anderes ist als eben die Gemeinsamkeit der Weltanschauung. Die Menschenmassen und die Massenmenschen freuen sich staunend dieses Besitzes und ahnen nicht, dass er eine Selbsttäuschung ist. (…) Die Sprache ist nur ein Scheinwert, wie eine Spielregel, die auch umso zwingender wird, je mehr Mitspieler sich ihr unterwerfen, die aber die Wirklichkeitswelt weder ändern noch begreifen will. In dem weltumspannenden und fast majestätischen Gesellschaftsspiel der Sprache erfreut es den einzelnen, wen er nach der gleichen Spielregel mit Millionen zusammendenkt, wenn er z. B. für alte Rätselfragen die neue Antwort «Entwicklung» nachsprechen gelernt hat, wenn das Wort Naturalismus Mode geworden ist, oder wenn die Worte Freiheit, Fortschritt ihn regimenterweise aufregen. Von starken Naturen, welche den Menschenmassen in diesem Welt&shy;gesellschafts&shy;spiel die Worte zurufen, wird Geschichte gemacht. Sie passen in die Welt. Die geistige Geschichte wird von Ausnahmsmenschen gemacht, welche nicht in die Welt passen, welche abseits vom Spiele die Welt anders betrachten, als die Vorgängermassen sie betrachtet haben und als die ererbte Sprache es verlangt, von Menschen, welche erblos und eigen, die Welt neu zu erkennen glauben (…). Sie wissen wenig anzufangen mit dem Gemeineigentum der Sprache, und die Gesellschaft, die Gemeine, weiss nicht viel mit ihnen anzufangen.» 
		br
		br
		| Das bildnerische Schaffen meiner Mutter ist eine fortwährende und beharrliche Suche nach einer ihr eigenen Sprache, was sie ohne Zweifel zu einem dieser Ausnahmsmenschen macht. Für sie sind Textilien, was für Mendelssohn die Noten: ein Vokabular für «zu bestimmte Gedanken». Ihr bildnerischer Ausdruck ist roh – frei von Vorbildern, Konventionen, Spielregeln. Sie lässt sich von Dingen leiten, die unaufhaltsam in ihr aufkeimen. Ihre Motive sind oft sehr einfach, Blumen, Landschaften, Tiere, mal mehr, mal weniger abstrakt. Ihre Umsetzungen sind aber nie banal, es steckt eine Vielschichtigkeit und emotionale Energie darin, die der Betrachter spüren kann. Beim Betrachten findet eine Zwiesprache statt, die schwer zu beschreiben, «erblos und eigen», ist. 
		br
		br
		| So wie es keine zwei Menschen gibt, die die gleiche Sprache reden, so gibt es auch keine zwei Menschen, die den gleichen Horizont haben: jeder ist der Mittelpunkt seines eigenen. Wie viel Mühe bekunden wir doch im Verlauf unseres Lebens, unsere Perspektive anderen zu vermitteln. Perspektive kommt von 
		i perspicere 
		| (lat. «hindurchsehen, hindurchblicken») und wie die Sprache, so ist auch die Perspektive des «Massenmenschen» ein Scheinwert, weil er davon ausgeht, dass er durch seine Augen hindurch auf eine Welt blickt, die für jeden gleich ist. Cornelia Wirz-Brun aber zeigt in ihren Bildern nie 
		i die
		| , sondern immer bloss 
		i ihre 
		| Welt. Ihre Bilder sind Seelenlandschaften.
		br
		br
		| Wenden wir uns einem zu, dem «Blick auf Zollikon». Der naive Stil erinnert an Kinderzeichnungen (auf dem Bild sind drei Kinder zu erkennen, eines davon bin ich). Die ganze Szenerie strahlt einen tiefen Frieden aus und doch… ist da mehr. Man kann erahnen, dass hier der «Blick» aus einem Haus der einer Mutter ist, auf Garten und Umgebung und ihre spielenden Kinder. Nichts «stimmt» in diesem Bild, weder die Proportionen, noch die Perspektive, noch sind die Bildelemente am richtigen Ort in der Landschaft. Trotzdem wirkt es ausgesprochen räumlich und besitzt eine grosse Tiefe. Alles wirkt wie in Bewegung, als würde der Wind in die Bäume fahren und den See aufwühlen. Selbst die drei Vögel, die man ja simpler fast nicht hätte darstellen können, bringen eine starke Dynamik ins Bild. Es wirkt wie eine lebendige Erinnerung. Alles bewegt sich in ihm. Und ist dadurch hoch instabil. Cornelia Wirz-Brun zeigt uns hier etwas sehr Aussergewöhnliches – ein Bild ihres inneren Auges. Und eine starke Emotion geht darin umher wie ein Geist. Es ist das Wissen um die Vergänglichkeit ihres «Blicks». Aber es liegt keine Traurigkeit darin, es ist... schwierig in Worte zu fassen. 
		br
		br
		| Ähnlich geht es mir beim Paris-Bild. Es entstand anlässlich einer kurzen Ferienreise als Familie. Ich könnte mit keinen Fotos, Videos oder Worten diese paar Tage besser beschreiben, als sie es mit diesem kleinformatigen Bild geschafft hat. Es ist von solch herausragender Qualität, dass ich mich noch heute beim Betrachten an diese Reise erinnern kann. Nicht etwa an bestimmte Ereignisse, sondern an den Geruch der Stadt, an das Klima der Jahreszeit, an die Farbe der Fassaden im Licht jener Tage. Und an mich, an das Gefühl für mich selbst damals. Eine starke Erinnerung – hervorgerufen durch einige wenige Streifen geschickt zusammengenähten Stoffs. 
		br
		br
		| Die Spielregeln des Kunstbetriebes schreiben vor, dass jeder ein Etikett an seine Arbeit zu kleben hat. Ein Titel muss darauf sein (im Minimum der Titel «Ohne Titel»), die Machart muss kategorisiert und die verwendeten Materialien aufgeführt werden, damit ein Kunstverständiger das Werk einem Stil oder einer Epoche zuordnen kann. Gerade wegen dieser Spielregeln («Gemeinsamkeit der Welt&shy;anschauung», auch in der Kunst), sind Cornelia Wirz-Bruns Bilder 
		i Outsider Art 
		|erster Güte. Denn was sie zu «Aussenseitern » macht, ist ihre Unkate&shy;gorisier&shy;bar&shy;keit. Dass sie sich nicht einordnen lassen, macht sie ausserordentlich. Im besten Fall wird der Betrachter für einen kurzen Moment sprachlos, und in der davon ausgehenden Stille zieht ein Gedanke vorbei, den nur er versteht, und sonst kein anderer auf der Welt. 
		br
		br
		| Tobias Wirz, Januar 2018
		br
		br
		br
		.text-caption
			sup#1 1 
			|Ludwig Wittgenstein: Logisch-philosophische Abhandlung, Tractatus logico-philosophicus, Satz 5.6, 1908
			br
			sup#2 2 
			|Meister Eckhart: Predigten, «Vom Schweigen», 15. Jh.
			br
			sup#3 3 
			|Rainer Maria Rilke: Brief an Franz Xaver Kappus, 16. Juli 1903
			br
			sup#4 4 
			|Felix Mendelssohn Bartholdy: Brief an Marc André Souchay, 15. Oktober 1842
			br
			sup#5 5 
			|Fritz Mauthner: Wesen der Sprache, Beiträge zu einer Kritik der Sprache, Erster Band, 1906