#grossmutter.page.hide(data-page='grossmutter')
	.gallery
		img(src='img/2018_grossmutter-mit-enkel-squashed.png' alt="Grosmami mit Enkel auf dem Balkon, 2018")
		.caption
			| «Grosmami mit Enkel auf dem Balkon», 25 x 32 cm, 2018