header
	h1 
		b Cornelia Wirz-Brun, Textilbildnerin 
		br
		|*1953 in Zürich
		br
		p
			a(target="_blank" rel="noopener noreferrer" href="http://reader.zueriost.ch/epaper/pdf/blaettern.php?page=05_r3_47_2018-04-05") Zeitungsartikel 
			|und 
			a(target="_blank" rel="noopener noreferrer" href="https://www.flickr.com/photos/146173637@N04/albums/72157705413051015") Bilder 
			|zur Ausstellung in Fehraltdorf, Frühling 2018
			br 
			|Kontaktaufnahme gerne per 
			a(href="mailto:cornelia.wirz-brun@bluewin.ch") E-Mail.  
			| Reprofotografien und 
			a(data-page='portrait', href='#', id='portrait') Portrait 
			|von 
			a(href="http://www.afaf.ch" target="_blank") Seraina Wirz
		