#hoffnung.page.hide(data-page='hoffnung')
	.gallery
		img(src='img/2019_hoffnung-squashed.png' alt="Hoffnung, 2019")
		.caption
			| «Hoffnung in die innere Kraft des Menschen, seine Lebensgrundlagen nachhaltig zu schützen»
			br
			| 53 x 74 cm, 2019