#infrastruktur1.page.hide(data-page='infrastruktur1')
	.gallery
		img(src='img/2023-ohne-titel-squashed.jpg' alt="Infrastruktur 1, 72 x 72 cm, 2023")
		.caption
			| «Infrastruktur 1», 72 x 72 cm, 2023