#infrastruktur2.page.hide(data-page='infrastruktur2')
	.gallery
		img(src='img/2023_infrastruktur-II-squashed.jpg' alt="Infrastruktur 2, 44 x 62 cm")
		.caption
			| «Infrastruktur 2», 44 x 62 cm, 2023