#landschaft.page.hide(data-page='landschaft')
	.gallery
		img(src='img/2018_landschaft-squashed.png' alt="Landschaft, 2018")
		.caption
			| «Landschaft» (Stoffliche Nachempfindung des Grätenwaldes von Max Ernst), 58 x 54 cm, 2018