main
	ul#menu
		li
			a(data-page='specht1', href='#') Specht 1&nbsp;
			|&nbsp;/&nbsp;
		li
			a(data-page='specht2', href='#') Specht 2&nbsp;
			|&nbsp;/&nbsp;
		li
			a(data-page='sternenbild4', href='#') Sternenbild 4&nbsp;
			|&nbsp;/&nbsp;
		li
			a(data-page='matterhorn', href='#') Matterhorn&nbsp;
			|&nbsp;/&nbsp;
		li
			a(data-page='toggenburg1', href='#') Toggenburg 1&nbsp;
			|&nbsp;/&nbsp;
		li
			a(data-page='toggenburg2', href='#') Toggenburg 2&nbsp;
			|&nbsp;/&nbsp;
		li
			a(data-page='toggenburg3', href='#') Toggenburg 3&nbsp;
			|&nbsp;/&nbsp;
		li
			a(data-page='warten', href='#') Warten&nbsp;
			|&nbsp;/&nbsp;
		li
			a(data-page='wagen', href='#') Wagen&nbsp;
			|&nbsp;/&nbsp;
		li
			a(data-page='wachen', href='#') Wachen&nbsp;
			|&nbsp;/&nbsp;
		li
			a(data-page='nashorn', href='#') Nashornfamilie&nbsp;
			|&nbsp;/&nbsp;
		li
			a(data-page='tessin', href='#') Tessiner Impression&nbsp;
			|&nbsp;/&nbsp;
		li
			a(data-page='baum', href='#') Baum im Frühling&nbsp;
			|&nbsp;/&nbsp;
		li
			a(data-page='verbundenheit', href='#') Verbundenheit&nbsp;
			|&nbsp;/&nbsp;
		li
			a(data-page='schwaene', href='#') Schwäne&nbsp;
			|&nbsp;/&nbsp;
		li
			a(data-page='paris', href='#') Paris&nbsp;
			|&nbsp;/&nbsp;
		li
			a(data-page='engadin', href='#') Oberengadin&nbsp;
			|&nbsp;/&nbsp;
		li
			a(data-page='winter', href='#') Winter&nbsp;
			|&nbsp;/&nbsp;
		li
			a(data-page='sonnenblumen', href='#') Sonnenblumen&nbsp;
			|&nbsp;/&nbsp;
		li
			a(data-page='seerosen', href='#') Seerosen&nbsp;
			|&nbsp;/&nbsp;
		li
			a(data-page='eule', href='#') Eule&nbsp;
			|&nbsp;/&nbsp;
		li
			a(data-page='innen', href='#') Perspektive Innen&nbsp;
			|&nbsp;/&nbsp;
		li
			a(data-page='aussen', href='#') Perspektive Aussen&nbsp;
			|&nbsp;/&nbsp;
		li
			a(data-page='tulpen', href='#') Tulpenstrauss&nbsp;
			|&nbsp;/&nbsp;
		li
			a(data-page='chrigi', href='#') Chrigi&nbsp;
			|&nbsp;/&nbsp;
		li
			a(data-page='stern2', href='#') Sternenhimmel 2&nbsp;
			|&nbsp;/&nbsp;
		li
			a(data-page='stern1', href='#') Sternenhimmel 1&nbsp;
			|&nbsp;/&nbsp;
		li
			a(data-page='sommervoegel', href='#') Sommervögel&nbsp;
			|&nbsp;/&nbsp;
		li
			a(data-page='rueckblick', href='#') Rückblick&nbsp;
			|&nbsp;/&nbsp;
		li
			a(data-page='orchidee', href='#') Orchidee&nbsp;
			|&nbsp;/&nbsp;
		li
			a(data-page='elemente', href='#') Die vier Elemente&nbsp;
			|&nbsp;/&nbsp;
		li
			a(data-page='prince', href='#') Le Petit Prince&nbsp;
			|&nbsp;/&nbsp;
		li
			a(data-page='engadinerwinter', href='#') Engadiner Winter&nbsp;
			|&nbsp;/&nbsp;
		li
			a(data-page='aquarium', href='#') Aquarium&nbsp;
			|&nbsp;/&nbsp;
		li
			a(data-page='spiel', href='#') Spiel Ying Yang&nbsp;
			|&nbsp;/&nbsp;
		li
			a(data-page='pfau', href='#') Pfau&nbsp;
			|&nbsp;/&nbsp;
		li
			a(data-page='rosenstrauss', href='#') Rosenstrauss&nbsp;
			|&nbsp;/&nbsp;
		li
			a(data-page='zollikon', href='#') Blick auf Zollikon&nbsp;
			|&nbsp;/&nbsp;
		li
			a.italic#spezi(data-page='gedanken', href='#') Zu bestimmte Gedanken&nbsp;
			|&nbsp;/&nbsp;