#menschen.page.hide(data-page='menschen')
	.gallery
		img(src='img/2022-sag-mir-wo-die-menschen-sind-squashed.jpg' alt="Sag mir wo die Menschen sind - wo sind sie geblieben?, 50 x 40 cm, 2022")
		.caption
			| «Sag mir wo die Menschen sind – wo sind sie geblieben?», 50 x 40 cm, 2022