#nichtwissen.page.hide(data-page='nichtwissen')
	.gallery
		img(src='img/2022_ruhend-im-nichtwissen-squashed.jpg' alt="Ruhend im Nichtwissen öffnet sich der raumlose Raum der «weiss», 78 x 90 cm, 2022")
		.caption
			| «Ruhend im Nichtwissen öffnet sich der raumlose Raum der "weiss"», 78 x 90 cm, 2022