#nordfoehn.page.hide(data-page='nordfoehn')
	.gallery
		img(src='img/2019_nordfoehn-im-tessin-squashed.png' alt="Nordföhn im Tessin, 2019")
		.caption
			| «Abend mit Nordföhn im Tessin», 54 x 66 cm, 2020