#ordnungen.page.hide(data-page='ordnungen')
	.gallery
		img(src='img/2018_ordnungen-squashed.png' alt="Die Ordnung meines Denkens hält der verschlungenen inneren Ordnung alles Seienden nicht stand, 2018")
		.caption
			| «Die Ordnung meines Denkens hält der verschlungenen inneren Ordnung alles Seienden nicht stand»
			br
			| 68 x 86 cm, 2018