#rundftreppenhaus.page.hide(data-page='rundftreppenhaus')
	.gallery
		img(src='img/2021_raum-und-farbe-treppenhaus-squashed.png' alt="Raum und Farbe — Treppenhaus, 51 x 45 cm, 2021")
		.caption
			| «Raum und Farbe — Treppenhaus», 51 x 45 cm, 2021