#rundffenster.page.hide(data-page='rundffenster')
	.gallery
		img(src='img/2021_raum-und-farbe-fenster-zur-kapelle-squashed.png' alt="Raum und Farbe — Fenster zur Kapelle im Spital Schwyz, 51 x 45 cm, 2021")
		.caption
			| «Raum und Farbe — Fenster zur Kapelle im Spital Schwyz», 51 x 45 cm, 2021