#rundftreppenhaus.page.hide(data-page='rundftreppenhaus')
	.gallery
		img(src='2021_raum-und-farbe-treppenhaus-squashed.png' alt="Raum und Farbe: Treppenhaus, 2021")
		.caption
			| «Raum und Farbe: Treppenhaus», 2021