#rundffenster.page.hide(data-page='rundffenster')
	.gallery
		img(src='img/2021_raum-und-farbe-fenster-zur-kapelle-squashed.png' alt="Raum und Farbe: Fenster zur Kapelle, 2021")
		.caption
			| «Raum und Farbe: Fenster zur Kapelle», 2021