#selbstbildnis.page.hide(data-page='selbstbildnis')
	.gallery
		img(src='img/2020_kleines-selbstbildnis-squashed.png' alt="Kleines Selbstbildnis, 2020")
		.caption
			| Aus meiner Herzform kommend 
			br
			| und fest verankert und getragen in meinem Leib der Fülle 
			br
			| bin ich in der Welt.
			br
			br
			| «Kleines Selbstbildnis», 2020