#sonnenblumen.page.hide(data-page='sonnenblumen')
	.gallery
		img(src='img/1998_sonnenblumen-in-der-toskana-squashed.jpg' alt="Sonnenblumen in der Toskana, 1998")
		.caption
			| «Sonnenblumen in der Toskana», 73 x 73 cm, 1998