#stofflich-natural.page.hide(data-page='stofflich-natural')
	.gallery
		img(src='img/2018-19_stofflich-natural-squashed.png' alt="Stofflich-naturale Improvisation in Webtechnik, 2018-2019")
		.caption
			| «Stofflich-naturale Improvisation in Webtechnik», 39 x 59 cm, 2018-2019