#toggenburg1.page.hide(data-page='toggenburg1')
	.gallery
		img(src='img/2017_toggenburg-bauerngarten-squashed.jpg' alt="Miniaturen Toggenburg 1 «Bauerngarten», 2017")
		.caption
			| «Bauerngarten» (Miniaturen Toggenburg 1), 19 x 25 cm, 2017