#toggenburg2.page.hide(data-page='toggenburg2')
	.gallery
		img(src='img/2017_toggenburg-landschaft-1-squashed.jpg' alt="Miniaturen Toggenburg 2 «Landschaft 1», 2017")
		.caption
			| «Landschaft 1» (Miniaturen Toggenburg 2), 10 x 14 cm, 2017