#toggenburg3.page.hide(data-page='toggenburg3')
	.gallery
		img(src='img/2017_toggenburg-landschaft-2-squashed.jpg' alt="Miniaturen Toggenburg 3 «Landschaft 2», 2017")
		.caption
			| «Landschaft 2» (Miniaturen Toggenburg 3), 10 x 14 cm, 2017