#untiefen2.page.hide(data-page='untiefen2')
	.gallery
		img(src='img/2021_wasser-untiefen-2-squashed.png' alt="Trilogie Wasser — Untiefen 2, 51 x 36 cm, 2021")
		.caption
			| «Trilogie Wasser — Untiefen 2», 51 x 36 cm, 2021