#wuestenlandschaft.page.hide(data-page='wuestenlandschaft')
	.gallery
		img(src='img/2020_wuestenlandschaft-squashed.png' alt="Wüstenlandschaft, 70 x 70 cm, 2020")
		.caption
			| «Wüstenlandschaft», 70 x 70 cm, 2020